<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class: "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :gametype %><br>
    <%= @game.game_type.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>Future form:</p>
<%= form_tag "/games" do %>
  <%= render partial: "participants_table", locals: {
    game: @game,
    cell: Proc.new do |team, player|
      search_field_tag "player[#{team}][#{player}]"
    end}
  %> 
  <div class="actions">
    <%= submit_tag "Save Results" %>
  </div>
<% end %>
<div id=page-data data-players="<%=(Player.pluck(:name)).to_json%>"/>
