<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :gametype %><br>
    <%= @game.game_type.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>Future form:</p>
<%= form_tag "/games" do %>
  <% cols = @game.game_type.number_of_teams %>
  <% rows = @game.game_type.players_per_team %>
  <table>
  <tr>
    <th></th>
    <% cols.times do | number | %>
      <th>
        Team <%= number + 1 %>
      </th>
    <% end %>
  </tr>
  <% rows.times do | player | %>
    <tr><td>Player <%= player + 1 %></td>
      <% cols.times do | team | %>
        <td>  
          <%= search_field_tag "player[#{team}][#{player}]"%>
        </td>
      <% end %>
    </tr>
  <% end %> 
  </table>
  <div class="actions">
    <%= submit_tag "Save Results" %>
  </div>
<% end %>
<div id=page-data data-players="<%=(Player.pluck(:name)).to_json%>"/>
