<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Gametype</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <thead>
    <tr>
      <th colspan=5>New Game: 
<% GameType.all.each do |type| %>
  <%= link_to type.name, new_game_path(game_type_id: type.id) %>
<% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.date %></td>
        <td><%= game.gametype %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
