<h1>Available Game Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of teams</th>
      <th>Players per team</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan=5>
        <%= link_to 'New Game type', new_game_type_path %>
      </td>
    </tr>
    <% @game_types.each do |game_type| %>
      <tr>
        <td><%= game_type.name %></td>
        <td><%= game_type.number_of_teams %></td>
        <td><%= game_type.players_per_team %></td>
        <td><%= link_to 'Show', game_type %></td>
        <td><%= link_to 'Edit', edit_game_type_path(game_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

